/* css 초기화 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* 스타일 */


.block-header{
    text-align: center;
    background-color: #fff;
}

.blink-sub{
  height:50px;
  text-align: center;
  background-color: #FFCD3D;
}

.blink-logo{
    width:250px;
    height:215px;
    margin-top:-20px;
    margin-left:20px;
    background: url(../images/logo-blink.svg) no-repeat left top;
    background-size: contain;
    display: inline-block;
}
.blink-logo span{
    display: none;
}
.blink-main{
  color: #3043ae;
  position:relative;
}
.blink-main .graphic-statcato{
  background: url(../images/stacato.svg) no-repeat left top;
  height: 32px;
  width: 111px;
  display:inline-block;
  position:absolute;
}
.blink-main h2{
   font-size:84px;
   font-weight:bold;
   margin-top:40px;
}
.blink-main h3{
  font-size:48px;
  margin-top:10px;
  font-weight:normal;
}
.button-block{
  margin-top:20px;
  line-height: 1;
}
.button-cta{
  background:#3043ae;
  font-weight: bold;
  font-size:36px;
  display:inline-block;
  color:#fff;
  padding:16px 20px 13px 20px;
  border-radius: 50px 50px 50px 50px;
  margin-bottom:10px;
}
.button-cta:hover{
  background-color: #374dc7;
}


.blink-character{
  background: url(../images/blink-character.svg) no-repeat left top;
  height:200px;
  width: 133px;
  display:inline-block;
  position:relative;
  bottom:-4px;
}
.blink-ctrl{
  background: url(../images/blink-ctrl.svg) no-repeat right 100px;
  margin-right:20px;
  height:230px;
  width: 200px;
  display:inline-block;
}
.blink-ctrl span{
  display:none;
}
.blink-sign{
  background: url(../images/blink-sign.svg) no-repeat left 75px;
  margin-left:20px;
  height:230px;
  width: 200px;
  display:inline-block;
}
.blink-sign span{
  display:none;
}
.block-video-wrapper{
  background:#3043ae;
  padding:40px;
  padding-left: 25%;
  padding-right: 25%;
  margin-top:25px
}
.block-video{
  text-align: center;
  font-size: 20px;
  color:#2828C7;
  padding:40px;
  background-color: #fff;
  position:relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.block-video iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block-whoisblink{
  background-color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  color: #333342;
  line-height: 38px;
}
.blink-listen{
  background: url(../images/illust-websiteproblem.svg) no-repeat left top;
  background-size: contain;
  width: 340px;
  height: 340px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 42px;
}
.blink-whois{
  margin-top:20px;
  background: url(../images/illust-whatisblink.svg) no-repeat left top;
  background-size: contain;
  width:300px;
  height:220px;
  display:inline-block;
}
.block-whatif{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(238,238,238,1) 40%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 60%, rgba(255,255,255,1) 80%);
  text-align: center;
  padding-top:20px;
  font-size:36px;
  line-height:48px;
  font-weight: bold;
  color: #3043ae;
}

.blink-whatif{
  margin-top:40px;
  background: url(../images/illust-whatif.svg) no-repeat left top;
  background-size: contain;
  width:440px;
  height:320px;
  display:inline-block;
}

.block-install{
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight:bold;
  color:#2828C7;
  padding-top:40px;
  line-height:56px;
}
.blink-install-cta{
  margin-top:40px;
  padding-bottom:40px;
  background: #FFCD3D;
}
.blink-download{
  display:inline-block; 
  margin-top:40px;
  background: url(../images/logo-blink.svg) no-repeat left top;
  background-size: contain;
  width:180px;
  height:180px;
}
.block-guide{
  text-align: center;
  background:#fff;

}
.block-guide .title{
  font-size: 40px;
  font-weight:bold;
  color:#2828C7;
  padding-top:40px;
  line-height:1.4;
}
.block-guide .description{
  font-size: 32px;
  line-height: 48px;
  font-weight:normal;
  color:#434343;
}
.guide-usage{
  margin-top:40px;
  margin-bottom:40px;
  background: url(../images/blink-guide.svg) no-repeat left top;
  display:inline-block;
  width:400px;
  height:100px;
  background-size: contain;
}
.guide-usage span{
  display:none;
}
.block-illust{
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(238,238,238,1) 40%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 60%, rgba(255,255,255,1) 80%);

}
.illust-demo-01{
  margin-top:40px;
  background: url(../images/demo-01.png) no-repeat left top;
  display:inline-block;
  width: 480px;
  height: 290px;
  background-size: contain;
}

.illust-demo-02{
  margin-top:40px;
  background: url(../images/demo-02.png) no-repeat left top;
  display:inline-block;
  width: 480px;
  height: 290px;
  background-size: contain;
}

.illust-demo-03{
  margin-top:40px;
  background: url(../images/demo-03.png) no-repeat left top;
  display:inline-block;
  width: 480px;
  height: 290px;
  background-size: contain;
}
.illust-listen{
  margin-top:40px;
  background: url(../images/illust-listen.svg) no-repeat left top;
  display:inline-block;
  width:140px;
  height:140px;
  background-size: contain;
}
.illust-result{
  margin-top:40px;
  background: url(../images/illust-result.svg) no-repeat left top;
  display:inline-block;
  width:580px;
  height:360px;
  background-size: contain;
}
.block-illust .title{
  font-size: 40px;
  font-weight:bold;
  color:#2828C7;
  padding-top:40px;
  line-height:1.4;
}
.block-illust .description{
  font-size: 32px;
  line-height: 48px;
  font-weight:normal;
  color:#434343;
}
.illust-patent{
  margin-top:40px;
  background: url(../images/patent.png) no-repeat left top;
  display:inline-block;
  width:440px;
  height:290px;
  background-size: contain;
}
.logo{
  width:300px;
}
.block-footer{
  background:#fff6e4;
  padding:40px;
  font-weight: lighter;
  color: #625f57;
}

/* 모바일 크로스브라우징 */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {    
  .blink-main h2{
    font-size:60px;
  }
  .blink-main h3{
    font-size:32px;
  }
  .blink-ctrl{
    height: 200px;
    width: 100px;
    background-size: contain;
  }
  .blink-sign{
    height: 200px;
    width: 100px;
    background-size: contain;
  }
  .block-video-wrapper{
    padding-left: 15%;
    padding-right: 15%;
  }
  .blink-keyboard{
    width:400px;
    height:290px;
  }
  .illust-usage{
    width: 400px;
    height: 260px;
  }
  .illust-result{
    width: 400px;
    height: 260px;
  }
  .illust-preference{
    width: 400px;
    height: 210px;
  }

}

@media (max-width: 480px) {
  .blink-logo{
    width:60px;
    height:70px;
  }
  .blink-main h2{
    font-size:42px;
  }
  .blink-main h3{
    font-size:26px;
  }
  .button-cta{
    font-size:20px;
  }
  .blink-sub{
    margin-top:0;
  }
  .blink-ctrl {
    width: 80px;
    height: 155px;
  }
  .blink-character{
    width: 90px;
    height: 136px;
    background-size:contain;
  }
  .blink-sign{
    width: 80px;
    height: 147px;
  }
  .block-video-wrapper{
    padding-left:5%;
    padding-right:5%;
  }
  .blink-whois{
    width: 250px;
    height: 160px;
  }
  .blink-keyboard{
    width:320px;
    height:270px;
  }
  .block-guide .title{
    font-size:32px;
  }
  .block-guide .description{
    font-size:24px;
    line-height:28px;
  }
  .guide-usage{
    width:300px;
  }
  .illust-usage{
    width:300px;
    height:200px;
  }
  .illust-result{
    width:320px;
    height:216px;
  }
  .illust-preference{
    width:300px;
    height:150px;
  }
  .blink-download-text{
    font-size:24px;
    line-height:1.4;
  }
  .block-footer{
    padding:14px;
    font-size: 13px;
    line-height: 1.2;
  }
}

@media (max-width: 320px){
  .blink-ctrl{display:none;}
  .block-whoisblink{font-size:30px;}
  .blink-whois{width:190px;}
  .blink-keyboard{width:240px; height:190px;}
  .block-install{font-size:28px; line-height:1.2}
  .block-guide .title{font-size:24px;}
  .guide-usage{width:220px;height:60px;}
  .illust-usage{width: 240px; height: 170px;}
  .illust-result{width: 240px; height: 170px;}
  .block-guide .description{font-size:20px;}
  .illust-preference{width: 240px; height: 140px;}
  .logo{width:200px;}

}